html, body {
	font-size: 16px;
    width: 100%;
    height: 100%;
}

header {
	height: 45em;
}

.nav-link{
	color: rgba(0,0,0,0.9) !important;
}

#bg{
	position: absolute;
	z-index: -1;
	width: 100%;
    height: 45em;
   	max-width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/bag.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	opacity: 0.5;
    filter: alpha(opacity=10);  
}

header h1{
	font-size: 5em;
	color: rgba(0, 0, 0, 1);
	padding-top: 1em;
	font-family: 'Yeseva One', cursive;
}

header p{
	margin-top: 2.5em;
	font-size: 1.5em;
}

p, a, li, i, small {
    /*font-family: 'Bellefair', serif;*/
    font-family: 'Playfair Display', serif;
}

#cat_quizz{
	color: black;
	border: 2px solid rgba(0, 0, 0, 1);
	padding: 1em 1em;
    font-size: 1em; 
    line-height: normal;
    -webkit-border-radius: 0.5em;
       -moz-border-radius: 0.5em;
            border-radius: 0.5em;
}

#cat_quizz:hover{
	color: white;
	font-weight: bold;
	border: 1px;
	background-color: #6B0000;
	opacity: 0.7;
    filter: alpha(opacity=10);
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}


#items {
	height: 45em;
	margin-top: 10em;
	position: relative;
}

#pickanitem {
	padding-top: 2em;
}

#banner_item{
	margin-top: 5em;
}

#items img {
	height: 15em;
	width: 13em;
}

#items button{
	background-color: white;
}

#about {
	height: 65em;
	width:100%;
	max-width: 100%;
}



#about {
	padding: 2em;
	display: inline-block;
}
#about h1{
	font-size: 3em;
	color: rgba(0, 0, 0, 1);
}

#about p{
	font-size: 1.25em;
	line-height: 1.5em;
}

#about img{
	width: 8em;
    height: 8em;
}

.text-justify {
  text-align: justify;
}


#contact {
	height: 30em;
	position:relative;
}

#contact_bg{
	position: absolute;
	z-index: -1;
	width: 100%;
    height: 30em;
   	max-width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/marbre.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	opacity: 0.5;
    filter: alpha(opacity=10);
    
}


#contact_form {
	padding-top: 2em;
}

footer{
	height: 4em;
	padding: 1em;
	/*background-color: #F9FAFC;*/
}

.full-width-div{
	position: absolute;
    width: 100%;
    left: 0;
}

footer span {
    margin: 1em;
}

footer img {
	width: 20px;
    height: 20px;
}


/*****************************  MEDIA QUERIES  *************************************/

@media only screen 
and (max-width: 1024px) {
header {
	height: 40em;	
}

header h1{
	font-size: 4em;
	color: rgba(0, 0, 0, 1);
	padding-top: 1em;
}

header p{
	padding-right: 1em;
	padding-left: 1em;
	margin-top: 2em;
	font-size: 1.25em;
}

#items {
	margin-top: 0.5em;
	
}

#banner_item{
	margin-top: 0.5em;
}

#items img {
	height: 7rem;
	width: 7rem;
	
}

#pickanitem {
	margin: 1em;
}


}



/****** MOBILE QUERIES ******/

@media only screen 
and (max-width: 400px) {

	header {
	height: 35em;	
}

#bg{
    height: 35em; 
}

header h1{
	font-size: 2.5em;
	color: rgba(0, 0, 0, 1);
	padding-top: 0.75em;
}

header p{
	padding-right: 1em;
	padding-left: 1em;
	font-size: 1.2em;
}

#cat_quizz{
	color: black;
	border: 1px solid rgba(0, 0, 0, 1);
    font-size: 1.125em;
    -webkit-border-radius: 0.5em;
       -moz-border-radius: 0.5em;
            border-radius: 0.5em;
}

#items {
	margin-top: 0.5em;
	
}

#banner_item{
	margin-top: 0.5em;
}

#items img {
	height: 7rem;
	width: 7rem;
	
}

#pickanitem {
	margin: 1em;
}


}
